@page "/expense"

@inherits ExpenseBase

@if (Expenses == null)
{
    <div class = "spinner-border justify-content-center"></div>
}
else
{
    @if (Expenses.Any())
    {
        <div class="d-flex flex-row align-items-center">
            <h3><b>List of the expenses</b></h3>
            <a href="/expenseedit" class="btn btn-outline-primary mx-4">Create</a>
        </div>

        <table class="table table-striped table-bordered my-2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Sum</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Expenses)
                {
                    <tr>
                        <td>@(Counter++)</td>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.ExpenseType.Name</td>
                        <td>@item.Sum</td>
                        <td>@item.Comment</td>
                        <td>
                            <a href = "@($"expenseedit/{item.Id}")" class = "btn btn-outline-primary mx-1">Edit</a>
                            <button type="button" class="btn btn-outline-danger mx-1" value="@item.Id" @onclick="(() => Delete(item.Id))">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
